.m-meditation {
  position: absolute;
  display: flex;
  width: 100vw;
  max-width: 100%;
  bottom: 30px;
  justify-content: center;
  bottom: 80px;
  &__image {
    width: 60vw;
    margin: 0 auto;
    animation: float 6s ease-in-out infinite;

  }
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
