@import 'quasar.variables';

@import 'layout/meditation';

@import 'models/meditation';
@import 'models/ground';

@import 'pages/index';
@import 'components/button';

body {
  background-color: black;
}

.progress {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  position: relative;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 42px;
    height: 100%;
    color: white;
  }
}
